.main-wrapper
  width: 100%
  display: flex
  justify-content: center
  flex-flow: column;

.users-list
  width: 960px

.users-list_item

.users-list_id
  display: block
  width: 50px
  height: 50px
  border-radius: 50%
  border: 1px solid dodgerblue
  text-align: center